@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
body {
    background-color: #f3e5d8;
    margin: 0%;
}

.Background{
    background-color: white;
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 1%;
    border-radius: 19px;
}

.white{
    margin: 20px;
    width: 90%;
    margin-bottom: 20px;
    font-family: 'Outfit';
}
h1{
    font-family: 'Young Serif';
}

h2{
    color: brown;
    font-family: 'Young Serif';

}
p{
    font-family: 'Outfit';
}

img {
    margin: 5% 0% 0% 5%;
    max-width: 90%;
    box-sizing: border-box;
    height: auto;
    border-radius: 15px;
}

.options{
    width: 90%;
    margin: 10px;
    margin-top: 1%;
    margin-bottom: 20px;
    border-radius: 1%;
    font-family: 'Outfit';
}

.secondbox{
    background-color:  #fbf4fb ;
    padding: 1rem; 
    
    ul{
        display: flex;
        flex-direction: column;
        gap: 1rem
    }

}
.ingr {
    ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;   
    }
}

.instru{
    ul{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        gap: 1.5rem
    }
}

h3{
    color:  #7f4860;
    font-family: 'Outfit';
    padding: 2px;

}

.dots::marker{ 
    color: #7f4860;
}

.bold::marker{
    color: #7f4860;
}

.bold span{
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Outfit';

}

table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Outfit';

}

th, td {
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Outfit';

  }

.numero cambio{
    color: #7f4860;
    font-family: 'Outfit';

}





